<%- model_class = @snippet.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => @snippet.name %></h1>
</div>

<div class="row">
	<div class="span3">
		<p><%= @snippet.description %></p>
		
		<p>Versions: <%= @snippet.versions.count %></p>
		
		<ul>
		<% @snippet.versions.each do |version| %>
		<% undo_link = link_to("undo", revert_version_path(version), :method => :post) %>
		<li> v <%= version.created_at %> <%= undo_link %></li>
		<% end %>
		</ul>
	</div>
	
	<div class="span9">
		
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#home">Output</a></li>
		  <li><a href="#html">HTML</a></li>
		  <li><a href="#css">CSS</a></li>
		</ul>

		<div class="tab-content">
			<!-- HOME -->
		  <div class="tab-pane active" id="home">
				
				
				
				<iframe id="robotview" width="100%" frameborder=0 src="<%= robotviews_url(@snippet) %>"></iframe>


		  </div>

			<!-- HTML -->
		  <div class="tab-pane" id="html">
				<%= CodeRay.scan(@snippet.html, :html).div.html_safe %>
		  </div>

			<!-- CSS -->
			<div class="tab-pane" id="css">

				<dl class="dl-horizontal">
				  <%= CodeRay.scan(@snippet.css, :css).div.html_safe %>
				</dl>

			</div>
		</div>
		
	</div>
</div>






<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              snippets_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_snippet_path(@snippet), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              snippet_path(@snippet),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>

<script>
function alertsize(pixels){
    pixels+=32;
    document.getElementById('robotview').style.height=pixels+"px";
}
</script>
